_build/
._*
.idea/
.loadpath
.metadata
.project
.settings/
.static
.tox
.Trashes
*.bak
*.egg-info
*.launch
*.log
log/
*.pot
*.pyc
*.pydevproject
*.swp
*.tmp
bin/**
dist/*
local.properties
tmp/**
tmp/**/*
environment.ini
.coverage
build